<div class="container">
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">§ 1</h4>
            <h4 class="text-center">[INFORMACJE OGÓLNE]</h4>
            <ol>
                <li>
                    Strona internetowa www.wnlegal.pl (dalej: „Strona Internetowa”) prowadzona Wątrobiński Nartowski
                    sp.j. z
                    siedzibą w Kielcach, ul. Olszewskiego 6, 25-663 Kielce, wpisaną do rejestru przedsiębiorców
                    Krajowego
                    Rejestru Sądowego przez Sąd Rejonowy w Kielcach, X Wydział Gospodarczy Krajowego Rejestru
                    Sądowego pod
                    numerem KRS: 00000000, NIP: 00000000, REGON: 00000000, test@test.com.
                </li>
                <li>
                    W ramach działalności Strony Internetowej mogą być zbierane, przetwarzane i wykorzystywane dane
                    użytkowników Strony Internetowej (dalej: „Użytkownicy”), w tym dane osobowe. Użytkownicy mogą
                    pozostawić
                    swoje dane dobrowolnie w zakresie w jakim będą chcieli to zrobić (np. poprzez podanie ich w
                    formularzu
                    kontaktowym), ale niektóre dane (np. takie jak adres IP) mogą być również zebrane
                    automatycznie.
                </li>
            </ol>
        </div>
    </div>

    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">§ 2</h4>
            <h4 class="text-center">[DANE OSOBOWE]</h4>
            <ol>
                <li>Administratorem danych osobowych Użytkowników jest Wątrobiński Nartowski sp.j. z siedzibą w
                    Kielcach,
                    ul. Olszewskiego 6, 25-663 Kielce, wpisana do rejestru przedsiębiorców Krajowego Rejestru Sądowego
                    przez
                    Sąd Rejonowy w Kielcach, X Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS:
                    0000805378,
                    NIP: 9592027315, REGON: 384433945, biuro@wnlegal.pl.</li>
                <li>W ramach Strony Internetowej mogą być zbierane i następne przetwarzane dane osobowe w celach takich
                    jak:&nbsp;<ol type="1">
                        <li>skontaktowanie się z Użytkownikiem, jeśli ten wypełnił formularz kontaktowy lub rozpoczął
                            konwersację z chatbotem dostępnym na Stronie Internetowej (chyba, że w ramach konwersacji
                            nie
                            zostały podane żadne dane osobowe), co jest prawnie uzasadnionym interesem Administratorów –
                            na
                            podstawie art. 6 ust. 1 lit. f RODO;</li>
                        <li>statystyka i analiza zachowań Użytkowników na Stronie Internetowej,&nbsp;co jest prawnie
                            uzasadnionym interesem Administratora – na podstawie art. 6 ust. 1 lit. f RODO.&nbsp;</li>
                    </ol>
                </li>
                <li>Administrator może udostępnić dane osobowe swoim podwykonawcom (podmiotom, z usług których korzysta
                    przy
                    przetwarzaniu) takim jak:&nbsp;<ol type="1">
                        <li>dostawcy usług i narzędzi informatycznych (np. hostingodawca);</li>
                        <li>podmioty świadczące usługi wsparcia technicznego i IT;</li>
                        <li>dostawca narzędzia chatbota, którym to dostawcą jest AI Force 1 sp. z o.o. z siedzibą w
                            Kielcach.&nbsp;</li>
                    </ol>
                </li>
                <li>Administrator nie przekazuje danych osobowych poza Europejski Obszar Gospodarczy za wyjątkiem
                    udostępniania danych Google LLC, który to podmiot dostarcza usługę Google&nbsp;Analytics. Google LLC
                    należy do programu&nbsp;EU-U.S. Privacy Shield (Tarcza Prywatności), który zapewnia zgodność
                    działania
                    przedsiębiorstwa z RODO.</li>
                <li>Dane osobowe przetwarzane w celu:<ol type="1">
                        <li>skontaktowania się z Użytkownikiem – przetwarzane są przez okres 1 roku od dnia ich
                            zebrania;
                        </li>
                        <li>statystyki i analizy zachowań Użytkowników na Stronie Internetowej&nbsp;– przetwarzane są
                            przez
                            okres 2 lat od dnia ich zebrania.</li>
                    </ol>
                </li>
                <li>Użytkownikowi, którego dane dotyczą, przysługują następujące prawa:<ol type="1">
                        <li>prawo dostępu do podanych danych osobowych oraz prawo otrzymania ich kopii;</li>
                        <li>prawo do sprostowania danych osobowych;</li>
                        <li>prawo do usunięcia danych osobowych;</li>
                        <li>prawo do żądania ograniczenia przetwarzania danych osobowych;</li>
                        <li>prawo do przeniesienia danych osobowych;&nbsp;</li>
                        <li>prawo sprzeciwu wobec przetwarzania danych osobowych;&nbsp;</li>
                        <li>prawo do wniesienia skargi do organu nadzorczego.&nbsp;</li>
                    </ol>
                </li>
                <li>W celu wykonania powyższych praw, Użytkownicy, których dane dotyczą mogą skontaktować się z
                    Administratorem – pisemnie pod adresem wskazanym wyżej lub drogą mailową na adres&nbsp;<a
                        href="mailto:biuro@wnlegal.pl">biuro@wnlegal.pl</a>.&nbsp;</li>
            </ol>
        </div>
    </div>

    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">§ 3</h4>
            <h4 class="text-center">[COOKIES]</h4>
            <ol>
                <li>W ramach działalności Strony Internetowej wykorzystywane są pliki cookies zapisywane w urządzeniach
                    końcowych Użytkowników.&nbsp;</li>
                <li>Pliki cookies stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w
                    urządzeniu końcowym Użytkownika i przeznaczone są do korzystania ze stron internetowych. Cookies
                    zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na
                    urządzeniu
                    końcowym, treść (np. identyfikatory akcji) oraz unikalny numer.</li>
                <li>Pliki cookies wykorzystywane są w celu:&nbsp; <ol>
                        <li>dostosowania zawartości Strony Internetowej do preferencji Użytkownika oraz optymalizacji
                            korzystania ze Strony Internetowej. W szczególności pliki te pozwalają rozpoznać urządzenie
                            Użytkownika i odpowiednio wyświetlić Stronę Internetową, dostosowując ją do jego potrzeb i
                            preferencji;</li>
                        <li>tworzenia statystyk i analiz dotyczących korzystania ze Strony Internetowej.&nbsp; </li>
                    </ol>
                </li>
                <li>W ramach Strony Internetowej stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session
                    cookies, session storage) oraz „stałe” (persistent cookies, local storage). Cookies „sesyjne” są
                    plikami
                    tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wygaśnięcia sesji
                    (np.
                    opuszczenia Strony Internetowej, usunięcia ich przez Użytkownika, lub wyłączenia oprogramowania).
                    „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w
                    parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.</li>
                <li>Wykorzystywanie plików cookies nie powoduje zmian konfiguracyjnych w urządzeniu końcowym Użytkownika
                    i
                    oprogramowaniu zainstalowanym na tym urządzeniu.&nbsp;</li>
                <li>Domyślne ustawienia przeglądarek internetowych dopuszczają zwykle zapisywanie plików cookies w
                    urządzeniach końcowych użytkowników stron internetowych. Ustawienia te mogą jednak zostać zmienione
                    przez Użytkownika.&nbsp;</li>
                <li>Użytkownik ma możliwość określenia warunków wykorzystywania plików cookies za pomocą ustawień
                    oprogramowania (przeglądarki internetowej) zainstalowanego na jego urządzeniu końcowym. Zmiana może
                    polegać na częściowym lub całkowitym ograniczeniu możliwości zapisywania plików cookies na
                    urządzeniu
                    końcowym użytkownika.&nbsp;</li>
                <li>Zgodnie z przepisami ustawy Prawo telekomunikacyjne, zgoda użytkownika końcowego na przechowywanie
                    informacji lub uzyskiwanie dostępu do informacji już przechowywanej w telekomunikacyjnym urządzeniu
                    końcowym użytkownika końcowego, może być wyrażona przez użytkownika również za pomocą ustawień
                    oprogramowania zainstalowanego w wykorzystywanym przez niego urządzeniu końcowym. W przypadku zatem
                    gdyby użytkownik nie chciał wyrazić takiej zgody, powinien dokonać zmiany ustawień przeglądarki
                    internetowej.&nbsp;</li>
                <li>Szczegółowe informacje w zakresie zmiany ustawień przeglądarki dotyczących plików cookies oraz ich
                    usunięcia uzyskać można na oficjalnej stronie internetowej konkretnej przeglądarki. W szczególności
                    powyższe informacje można znaleźć pod następującymi adresami stron internetowych: <ol>
                        <li><a rel="noreferrer noopener" href="https://support.mozilla.org/pl/kb/usuwanie-ciasteczek"
                                target="_blank">przeglądarka Firefox</a>;</li>
                        <li><a rel="noreferrer noopener"
                                href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=pl"
                                target="_blank">przeglądarka Chrome</a>;</li>
                        <li><a rel="noreferrer noopener"
                                href="https://support.microsoft.com/pl-pl/help/17442/windows-internet-explorer-delete-manage-cookies"
                                target="_blank">przeglądarka Microsoft Edge</a>;</li>
                        <li><a rel="noreferrer noopener" href="http://help.opera.com/Linux/9.60/pl/cookies.html"
                                target="_blank">przeglądarka Opera</a>;</li>
                        <li><a rel="noreferrer noopener" href="https://support.apple.com/kb/ph21411?locale=pl_PL"
                                target="_blank">przeglądarka Safari</a>. </li>
                    </ol>
                </li>
            </ol>


        </div>
    </div>

    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">§ 4</h4>
            <h4 class="text-center">[NARZĘDZIA WYKORZYSTYWANE NA STRONIE INTERNETOWEJ]</h4>
            <ol>
                <li>W ramach Strony Internetowej wykorzystywane są narzędzia informatyczne dostarczane przez podmioty
                    zewnętrzne. Korzystanie z tych narzędzi może wiązać się z korzystaniem z plików cookies
                    dostarczanych
                    przez te podmioty.&nbsp;</li>
                <li>Na Stronie Internetowej wykorzystywane jest narzędzie Google Analytics dostarczane przez Google LLC
                    (co
                    wiąże się ze stosowaniem zewnętrznych plików cookies). Google LLC swoją siedzibę ma w USA, a więc
                    poza
                    terenem Europejskiego Obszaru Gospodarczego. Google jest podmiotem, który przystąpił do
                    programu&nbsp;EU-U.S. Privacy Shield (Tarcza Prywatności)i zapewnia odpowiedni poziom ochrony
                    danych.
                    Narzędzie to służy do analizy statystyk stron internetowych.&nbsp;</li>
                <li>Na Stronie Internetowej wykorzystywane jest narzędzie w postaci chatbota dostarczanego przez AI
                    Force 1
                    sp. z o.o. z siedzibą w Kielcach.&nbsp;</li>
            </ol>
        </div>
    </div>
</div>