<div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of products">
        <div class="card mb-4 box-shadow">
            <a [routerLink]="getUrl(item)">
                <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]" [src]="item.basicImgUrl" data-holder-rendered="true">
            </a>
            <div class="card-body">
                <!-- IF -->
                <div *ngIf="showDiscount(item); else elseDiscount">
                    <p class="card-text">{{item.title}}</p>
                    <p class="card-text text-muted">{{countPriceUsingDiscount(item)}} $</p>
                </div>
                <!-- Else -->
                <ng-template #elseDiscount>
                    <p class="card-text">{{item.title}} <span class="badge badge-danger">{{-item.discount}} %</span></p>
                    <p class="text-muted">
                        <span class="" disabled="disabled">
                            <del>{{item.unitPrice}}$</del>
                        </span>
                        <span class="" disabled="disabled">
                            {{countPriceUsingDiscount(item)}}$
                        </span>
                    </p>
                    <!-- <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-outline-secondary" disabled="disabled">
                                <del>{{item.unitPrice}}$</del>
                            </button>
                            <button class="btn btn-sm btn-outline-secondary" disabled="disabled">
                                {{countPriceUsingDiscount(item)}} $
                            </button>
                        </div>
                        <small class="text-muted">
                            <span class="badge badge-danger">{{-item.discount}} %</span>
                        </small>
                    </div> -->
                </ng-template>
                <!-- / end if -->
                <a class="btn btn-outline-primary" [routerLink]="getUrl(item)">See details</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->