@import "src/assets/foundation-themes";
::ng-deep #newDescription, ::ng-deep .md-preview {
  padding: 0 5px 5px;
}

.search-questions {
  width: 35px;
  font-size: x-large;
  color: #343a40;
  text-align: right;
}
